<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Adquirir servicio</h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  Seguro que deseas adquirir este servicio por RD$ {{cost}}?
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-outline-secondary"
          (click)="activeModal.dismiss()">
    Cancelar
  </button>
  <button type="button"
          class="btn btn-primary"
          (click)="onSubmit()">
    Adquirir
  </button>
</div>
